@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* body{

} */

.body {
    background-image: url('bg2.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    font-family: 'New Tegomin', serif;
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
}

#hiscoreBox {
    font-family: 'New Tegomin', serif;
    position: absolute;
    top: 55px;
    right: 155px;
    font-size: 39px;
    font-weight: bold;
}

#board {
    background: linear-gradient(rgb(134, 225, 134), rgb(226, 226, 107));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background-color: rgb(66, 83, 37);
    border: 2px solid rgb(32, 40, 17);
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    background-color: rgb(77, 93, 48);
    border: .25vmin solid rgb(37, 46, 20);
    border-radius: 12px;
}

.food {
    background-color: red;
    border: .25vmin solid black;
    border-radius: 60px;

}